.contact_us {
  .contact_bg{
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    margin-bottom: 50px;
    background-image: url(../img/title_bg.jpg);
  }
  .text {
    font-size: 15px;
    padding: 20px 0;
    width: 40%;
    line-height: 25px;
    font-family: 'Mulish', sans-serif;
  }
  .contact {
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    .left {
      width: 100%;
      form {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        padding-bottom: 30px;
        input,
        textarea {
          padding: 15px;
          font-size: 16px;
          border-radius: 8px;
          margin: 0 0 20px 0;
          border: 1px solid rgba(0, 0, 0, 0.2);
        }
        button {
          color: #f8f9fa;
          font-family: "Mulish", sans-serif;
          text-decoration-line: none;
          display: inline-block;
          padding: 13px 50px;
          transition: all 0.3s ease;
          border: 2px solid #000;
          background: #000;
          border-radius: 50px;
        }
        
        button:hover {
          background: #fff;
          color: #000;
        }
      }
    }
    .right_map {
      padding-left: 30px;
      iframe {
        border-radius: 13px;
        @media screen and (max-width: 1070px) {
          width: 500px;
        }
        @media screen and (max-width: 800px) {
          width: 85vw;
          height: 350px;
        }
        @media screen and (max-width: 425px) {
          width: 80vw;
          height: 300px;
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .contact_us {
    padding-bottom: 30px;
    .text {
      width: 100%;
    }
    .contact {
      display: block;

      .right_map {
        padding-left: 0px;
        .map {
          iframe {
            width: 100%;
          }
        }
      }
    }
  }
}
.home_contact_us{
  background-image: url(../img/s1.jpg);
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.63);
  .container{
    display: flex;
    @media screen and (max-width: 880px) {
      flex-wrap: wrap;
    }
    .home_contact{
      background-color: #fff;
      flex-direction: column;
      padding-bottom: 0;
       padding: 10px 40px;
       width: 40%;
       margin: 30px 0;
       @media screen and (max-width: 880px) {
        width: 100%;
      }
      .text{
        width: 100%;
      }
      textarea{
        height: 100px;
      }
      h3{
        font-weight: 400;
      font-family: 'Lovers Quarrel', cursive;
      font-size: 86px;
      text-align: center;
      }
    }
    .right{
      padding-left: 40px;
      width: 50%;
      font-size: 30px;
      color: #fff;
      text-align: end;
      align-self: center;
      @media screen and (max-width: 880px) {
        width: 100%;
        text-align: center;
        padding: 0 20px;
      }
      .text{
        width: 100%;
      }
    }
  }
  
  
}
